body {
    font-family: "Poppins", sans-serif;
    background: #272044;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/san_pietro_galtelli.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 100px;
    color: white;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav ul {
    padding: 0;
    margin: 0 auto;
}

nav {
    padding: 20px 0;
}

nav a {
    text-decoration: underline;
    color: white;
    transition: all 100ms ease-in-out;
}


nav a:hover,
nav li.active a {
    color: blue;

}


@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }
}